[mysqld]
transaction-isolation = READ-COMMITTED
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
thread_cache_size = 4
innodb_strict_mode=OFF
default-time-zone="+03:00"
innodb_file_per_table=1
sync_binlog=0
binlog_cache_size=0