[client-server]
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/percona-server.conf.d/
!includedir /etc/mysql/my-bx.d/